

<div class= "bootstrap-wrapper">

<div class="row">
    <div class="col-md-6 offset-md-3 mt-4 text-center">

        <div class="col-md-6 offset-md-3">
            <div class="container text-center mt">
                <img 
                  class="img-fluid" style="width: 250px;"
                  src="/assets/passwordlogo.png" alt=""
                />

            </div>

        <h2 class="text-center">Change Password</h2>
        

        <div class="container text-center form-group">
            <form #f="ngForm">
                <mat-form-field  appearance="outline"
                 for="changePassword" class="full-width" >
                 <mat-label>Enter Old Password</mat-label>
                 <input matInput [type]="hide ? 'password' : 'text'"
                 type="password"
                 class="form-control"
                 name="password"
                 ngModel
                 id="changePassword"
                 placeholder="Enter Old Password"
                 required type="email" matInput/>
                 <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>

                
      <!--   <div class="container text-center form-group"> -->
            
                <mat-form-field  appearance="outline"
                 for="changePassword" class="full-width" >
                 <mat-label>Enter New Password</mat-label>
                 <input matInput [type]="hide ? 'password' : 'text'"
                 type="password"
                 class="form-control"
                 name="password"
                 ngModel
                 id="changePassword"
                 placeholder="Enter New Password"
                 required type="email" matInput/>
                 <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>



                <div class="container text-center">

                    <mat-slide-toggle style="margin-bottom: 10px;">Sure??</mat-slide-toggle> 
                    <br/>
                  <button type="submit"  class="btn btn-primary" mat-raised-button color="primary">Change Password <i class="fas fa-paper-plane"></i></button>

                </div>
              </form>  
         </div>
      </div>
    </div>
  </div>
</div>