<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="undefined" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>




<header id="showcase" class="head">
  <div class="myhome"> 
    <h1>FLY HIGH</h1>
             <h3>
                The only thing we love more than flight is you!
             </h3>
  </div>
  <div class="content">
    
    <a href="#newsletter" class="button">Book Flight</a>
</div>

</header>

<footer class="footer">
  <div class="fcontainer">
    <div class="row">
       <div class="footer-col">
         <h4>company</h4>
         <ul>
           <li><a href="#">about us</a></li>
           <li><a href="#">our services</a></li>
           <li><a href="#">privacy policy</a></li>
           <li><a href="#"> affliated program</a></li>
         </ul>
       </div>
       <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Newsletter</a></li>
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Blog Check</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online booking</h4>
        <ul>
          <li><a href="#">Return</a></li>
          <li><a href="#">Round trip</a></li>
          <li><a href="#">Payment</a></li>
          <li><a href="#">Offers</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4> contact us</h4>
        <div class="social-media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

  </div>


</footer>

 
</body>
</html>

      