/*body*/
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(29, 28, 28);
    color: whitesmoke;
    font-size: 15px;
    line-height: 1.8;
    text-align: center;
}

/*nav changed*/
/* header nav{
    float: left;
    margin-top: 10px;
    margin-right: -20%;
    display :inline;
  
} */
header nav {
    float: left;
    width:100%;
    text-decoration: none;
    margin-top: 10px;
    margin-right: -20%; 
    display :inline;
  
}
header li{
   /* float: left;*/
    display: inline;
    padding: 0 20px 0 20px;
}
header a:hover
{
   color: rgb(179, 195, 211);
   font-weight: bold;
}
header .current a{
    color: orangered;
    font-weight: bold;
}

nav a{
    color: white;
    text-decoration: none;  /* it removes under line in links*/
    font-size: 16px;
}

/*..............*/


img{
    display: block;
    width: 100%;
    height: auto;
    
}
h1,h2,h3{
    margin: 0;
    padding:15px 0;
}

.button{
    display: inline-block;
    background: rgb(218, 80, 31);
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 18px;
    border: 1px solid white;
    border-radius: 5px;
}
.button:hover{
    background: rgb(161, 69, 69);
    color: cornsilk;
    transition-duration: 2s ease;
    
}
/* showcase*/
#showcase{
    min-height: 450px;
    color: whitesmoke;
    text-align: center;
}

#showcase .bgimg{
    position :absolute;
    background: #333;
    background-image: url(bgrestro6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    opacity: 0.50;
    z-index: -1; 
    background-attachment: fixed;
    

    /*transition for changes bgimage*/
    transition:5s;

    animation-name: animate ; 
    animation-direction: alternate-reverse ;
    animation-duration: 15s ;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running ;
    animation-timing-function: ease-in-out;
  
}

@keyframes animate{
  0%{
      background-image: url(bgnewrestro2.jpg);
  }
  20%{
    background-image: url(bgnewrestro1.jpg);
}
40%{
    background-image: url(bgrestro3.jpg);
}
60%{
    background-image: url(bgnewrestro3.jpg);
}
80%{
    background-image: url(bgnewrestro5.webp);
}
100%{
    background-image: url(bgrestro6.jpg);
}

}


/************************************************/




#showcase h1{
   padding-top: 100px;
   padding-bottom: 0;
   font-size: 50px;
   
}

#showcase .content, #section1 .content{
       padding-bottom: 0 1.5em;
       
}

/* Section 1*/
#section1{
    background: #eaeaea;;
    color: #333;
    padding-bottom: 2em;
}

/*Sectio2*/
#section2{
    padding: 2em 1em 1em;
}
#section2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#section2 li{
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: #fff;
    color: black;
}
/* adding hover to window images*/
.window:hover{
 
    transform: scale(1.08); 
}

.window-content{
    padding: 1.5em;
}

 /* Section C */
 #section3{
     background: blanchedalmond;
     color: black;
     padding: 2em;
 }

#section4 .box1 {
    padding: 2em;
    color: blanchedalmond;
}
#section4  .box2{
    padding: 2em;
    color: blanchedalmond;
    float: right;
}
#section4 .box1:first-child{
    background: rgb(100, 81, 74);
}

/*****overlay*******/
.overlayhead{
    position: relative;
}
.overlaytext {
    position: absolute;
    font-size: 20px;
    top: 30%;
    left: 115%;
    width:50%;
   transform: translate(-130%)
     
}
.overlayimage{
    display:grid;
    width: 100%;
    background-size: cover;
    height: 450px;
}
.overlay{
  position: absolute;
  bottom: 100%;
  left: -50%;
  right: 0;
  background-color: #6e7f85;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
/*overlay at box1*/
.box1:hover .overlay{
    bottom: 0;
  
    height:100%;
}
/*overlay at box2*/
.box2:hover .overlay2{
    bottom: 0;
    height:100%;
}
.overlay2{
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 0;
    background-color: #3b4346;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  .overlaytext2 {
    position: absolute;
    font-size: 20px;
    top: 30%;
    left: 65%;
    width:50%;
   transform: translate(-130%)
     
}


/**************/

/* footer*/
#foot{
    padding: 2em;
    background: black;
    color: #fff;
    font-size: 20px;
    text-align-last:right;
   
}

#foot a{
    color: #2690d4;
    text-decoration: none;
   
}

/* newsletter*/

/* newsletter*/
#newsletter{
    padding :40px;
    color: #ffffff;
    background: rgb(61, 56, 56);
    margin-bottom: 2rem;
}

#newsletter h1{
    float: left;
    margin-top:-35px;
  
}
#newsletter form{
    margin-top: -15px;
    
    float: right;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*button*/
.button_1 {
    height :35px;
    background: rgb(243, 78, 13);
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    
}



/* media Queries**/
@media (min-width:799px){
    .head{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
    }
    .overlayhead{
        display: grid;
      
        grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
    }
    
#section1.parah {
    column-count: 3;
   column-gap: 2em;
}
#section1.parah p{
     padding-top: 0;
} 
.content{
    grid-column: 2/4;       
}
 #section2 ul{
     grid-column: 1/5;       /*added grid to here in section2*/
 }
 .box1, .box2{
     grid-column: span 2;
     padding: 10px;
 }
 #section2 ul{
     display: flex;
     justify-content: space-around;
 }
  #section2 li{
      width: 31%;    /*31% to 50*/
  }
  .bgimg{
       background-attachment:scroll;
  }
  #foot{
      text-align: right;
  }
}




