<div class= "bootstrap-wrapper">
  
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4  text-center">

        <div class="col-md-6 offset-md-3">
            <div class="container text-center mt ">
                <img 
                  class="img-fluid" style="width: 200px;"
                  src="/assets/passwordlogo.png" alt=""
                />

            </div>

          <h2 class="text-center">Reset Password</h2>


        <div class="container text-center form-group">
            <form #f="ngForm">
                <mat-form-field appearance="outline"
                for="resetPasswordEmail" class="full-width" >
                 <mat-label>Enter your email</mat-label>
                 <input
                 type="email"
                 class="form-control"
                 name="email"
                 ngModel
                 [formControl]="email"
                 id="resetPasswordEmail"
                 placeholder="pat@example.com"
                 required type="email" matInput/>
                 <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <div class="container text-center"> 
                    <button type="submit"  class="btn btn-primary" mat-raised-button color="primary">Send<i class="fas fa-paper-plane"></i></button>
                  </div>
              </form>  
        </div>
      </div>
   </div>
</div>
